.grid-column-container {
    display: flex;
    justify-content: center;
    margin-top: 280px;
    // transform: translate(0,290px);
}

.grid-column {
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}

.post-preview-container {
    display: block;
    width: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow:hidden;
    background-color: #474a51;
    text-overflow: ellipsis;
    color: #fff;
}

.post-preview-info {
    max-height:32x;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.post-preview-description {
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:16px;
    letter-spacing: .3px;
    text-align: left;
    color: #fff;
    display: -webkit-box;
    max-height: 31.92px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.greeting {
    font-size: 24px;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    position: relative;
    margin-bottom: 30px;
    padding-top: 65px;
}