.loading-spinner {
    background-color: transparent;
    background-image: url(asset_path('loading.svg'));
    background-size: contain;
    height: 80px;
    width: 80px;
}

.grid-column-container {
    display: flex;
    justify-content: center;
    margin-top: 280px;
    // transform: translate(0,290px);
}

.grid-column {
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}

.post-preview-container {
    display: block;
    width: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow:hidden;
    background-color: #474a51;
    text-overflow: ellipsis;
    color: #fff;
    position: relative;
}

.post-preview-info {
    max-height:32x;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.post-preview-description {
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:16px;
    letter-spacing: .3px;
    text-align: left;
    color: #fff;
    // display: -webkit-box;
    max-height: 31.92px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.post-preview-description p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}

.post-preview-edit {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    cursor: pointer;
}

.post-preview-edit a {
    padding: 1em;
    margin: -2em;
}

.post-preview-edit a:hover {
    // color: #1bb76e;
    text-shadow: 2px 2px 3px #1bb76e94;
}

.greeting {
    font-size: 24px;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    position: relative;
    margin-bottom: 30px;
    padding-top: 65px;
    // text-shadow: 2px 2px 7px rgb(31, 31, 31)
}