
.tricky-header {
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 305px;
    height: 305px;
    padding-bottom: 76px;
}

.tricky-header-bg {
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 305px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 20%), url(beach-test.jpg);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 305px;
    padding-bottom: 76px;
}

.is-fixed {
    transition: box-shadow .4s;
    bottom: auto;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 25px 5px #000;
}

.navbar {
    // background-color: #171544;
    background-color: transparent;
    padding: 5px;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    z-index: 101;
}

.navbar-left, .navbar-right, .navbar-center {
    display:flex;
    position:relative;
    align-items: center;
    height: 100%;
}

.navbar-left, .navbar-right {
    min-width: 255px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

.search-bar {
    background: hsla(0,0%,100%,.25);
    border: 1px solid transparent;
    padding: 8px 35px 8px 10px;
    border-radius: 3px;
    width: 100%;
    opacity: .8;
    max-width: 550px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #fff;
    text-shadow: inherit;
}

.search-bar::placeholder{
    color: hsla(0,0%,100%,.6);
    font-weight: 200;
    letter-spacing: .4px;
    font-size: 14px;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}
    

.search-bar:focus {
    opacity: 0.9;
}

.logo {
    font-size: 35px;
    font-family: 'Baloo';
    font-weight: 700;
}

.plus-icon {
    display: inline-block;
    margin-right: 15px;
    color: #1bb76e;
    background-color: #fff;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    box-shadow: 0px 4px #75ebb4;
}


.avatar-nav {
    display:flex;
    background-image: url(earth.svg);
    background-size: contain;
    height: 35px;
    width: 35px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.avatar-nav p {
    text-align: center;
    padding-top: 7px;
    font-family: 'Baloo';
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
}

.avatar-menu {
    top: 60px;
    right: 20px;
    position: absolute;
    border-radius: 5px;
    display:none;
}

.avatar-menu ul {
    border-radius: 5px;
    padding-top:5px;
    padding-bottom: 5px;
}

.avatar-menu-top {
    background-color: #53555D;
}
.avatar-menu-top > li {
    padding: 20px 20px;
    letter-spacing: 1px;
}
.avatar-menu-top > li:hover {
    background-color: rgba(204,204,204,0.2);
}
.avatar-menu-bottom {
    background-color: #565F6E;   
}

.upload-button {
    text-align: center;
    height: 25px;
    display: inline-block;
    padding: 3px 11px 6px 9px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    width: auto;
    background-color: #1bb76e;
    color: #fff;
    box-shadow: 0 6px 10px 0 rgba(27,28,30, 0.31);
    margin: auto 15px;
    cursor: pointer;
    display:flex;
    align-items: center;
}