.postShowBody {
    display: flex;
    justify-content: center;
}

.postShowMain {
    margin-top: 30px;
    margin-right: 30px;
    width: 728px;
}

.postShowMainHeader {
    padding: 20px;
    background-color: #2c2f34;
    border-radius: 5px 5px 0px 0px;
    position:sticky;
    top:0;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}
.postShowMainHeader h1 {
    font-size: 18px;
    font-weight: 400;
}
.postShowMainHeader h3 {
    font-size: 12px;
    font-weight: 400;
    color: #BBB;
    padding-left: 2px;
    padding-top: 5px;
}

.post-edit {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    cursor: pointer;
}
.post-edit a {
    padding: 1em;
    margin: -2em;
}

.post-edit a:hover {
    // color: #1bb76e;
    text-shadow: 2px 2px 3px #1bb76e94;
}

.postImage {
    display: block;
    max-width: 728px;
    padding-bottom: 20px;
    background-color: #2c2f34;
}

// TODO: the sidebar
.postShowSidebar {
    display:none;
    width: 300px;
    height: 600px;
    background-color: red;
    margin-top: 30px;
}


.postShowFooter {
    background-color: #2c2f34;
    padding: 20px;
}

.postShowTags {
    display: block;
    border-radius: 99px;
    padding: 0 29px;
    margin-right: 10px;
    display: inline-block;
    min-width: 66px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 15px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2);
}