.tag-gallery-header-container{
    margin-top: 0;
    min-height: 34px;
    position: relative;
    margin-bottom: 30px;
    padding-top: 140px;
}

.tag-gallery-title {
    font-size: 36px;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 7px #000;
    margin-bottom: 15px
}

.tag-gallery-subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 7px #000;
}