.box_uploading, .box_error {
    display: none;
}

.box {
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    outline: 2px dashed rgb(29, 28, 114);
    outline-offset: -100px;
    height: 500px;
    width: 800px;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box .box_dragndrop {
    display: inline;
}